.cover{
    // gõ theo css""    không theo sass../../''
    background-image: url('../img/cover.jpg');
    // kế thừa
    @extend .backgroundImg;
    // @extend #id @extend tenthe
    height:500px;
    position:relative;
    .cover__content{
        position:absolute;
        left:12%;
        top:50%;
        transform: translateY(-50%);
        max-width:500px;
        h1{
            @include styleText($color-white-0,$fs-2,$fw-2);
        }
        p{
            @include styleText($color-white-0,$fs-3,$fw-0)
        }
        .cover__form{
            border-radius: 3px;
            @include styleFormSearch($color-white-0,$color-white-0,$color-white-0,$color-black-light);
        }
    }
    @include responsive("small"){
        .cover__content{
            max-width:400px;
            left:10%;
        }
    }
}